.LoginPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

.login-form {
    background-color: #5CB7DE;
    margin: auto;
    width: 600px;
    height: 300px;
    margin-top: 80px;
    border-radius: 5px;
  }